*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

/* login page css starts */

#logbody{ 
width: 100%;
height: 100vh;
} 

#logcenter{
    width: 500px;
    height: 500px;
    border: 1px solid grey;
     position: absolute; 
     top: 18%;
    left: 32%; 
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 60px;
    /* background-color: rgba(83, 244, 244, 0.341); */
    box-shadow: 0 0 10px grey,0 0 15px grey,0 0 20px grey;
    border-radius: 10px;
  
}



#logcenter a{
    text-decoration: none;
    color: crimson;
    font-size: 35px;
}
#logcenter h2{
    color: #DFF2EB;
}
#loginname {
    width: 230px;
    height: 40px;
    font-size: 17px;
    padding-left: 15px;
    border: 1px solid black;
    box-shadow: 0 0 10px grey;
}

#loginname:hover{
    transform: scale(1.1);
    border-radius: 20px;
    border: 1px solid grey;
}


#loginpass{
    width: 230px;
    height: 40px;
    font-size: 17px;
    padding-left: 15px;
    border: 1px solid black;
    box-shadow: 0 0 10px grey;

}

#loginpass:hover{
    transform: scale(1.1);
    border-radius: 90px;
    border: 1px solid grey;
}


#loghead{
    font-size: 40px;
    color: white;
}

#logbtt{
    width: 230px;
    height: 35px;
    border-radius: 90px;
    font-size: 25px;
    color: rgb(240, 56, 5);
    background: linear-gradient(to left,rgb(4, 68, 244),cyan,rgb(65, 3, 236));
}

#logbtt:hover{
    color: crimson;
    background: linear-gradient(to right,cyan,darkblue,cyan);
    transform: scale(1.1);
}


/* login page css ends */

/* submit starts here */


#sub-body{
    width: 100%;
    height: 100vh;
    /* background-color: black; */
    background-image: url(planeimage/nature.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


#formbox{
    width: 1500px;
    height: 800px;
    position: relative;
   top: 15px;
   left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    z-index: 1;
    border-radius: 10px;
}

/* @property  --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

 #formbox::after, #formbox::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;  
   background-image: conic-gradient(from var(--angle), transparent 75%, violet,indigo,blue,green,yellow,orange,red);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 15px;
    border-radius: 10px;
   animation: 3s spin linear infinite; 
}


@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

#formbox::before{
    content: '';
    filter: blur(3.5rem);
    opacity: 0.5;
} */

 #inpname {
    width: 230px;
    height: 40px;
    font-size: 17px;
    padding-left: 10px;
    border: 1px solid black;
    box-shadow: 0 0 10px grey;
}

#inpname:hover{
    transform: scale(1.1);
    border-radius: 20px;
    border: 1px solid grey;
}

#inpnum {
    width: 230px;
    height: 40px;
    font-size: 17px;
    padding-left: 10px;
    border: 1px solid black;
    box-shadow: 0 0 10px grey;
}

#inpnum:hover{
    transform: scale(1.1);
    border-radius: 20px;
    border: 1px solid grey;
}

#inpemail {
    width: 230px;
    height: 40px;
    font-size: 17px;
    padding-left: 10px;
    border: 1px solid black;
    box-shadow: 0 0 10px grey;
}

#inpemail:hover{
    transform: scale(1.1);
    border-radius: 20px;
    border: 1px solid grey;
}

#inppass {
    width: 230px;
    height: 40px;
    font-size: 17px;
    padding-left: 10px;
    border: 1px solid black;
    box-shadow: 0 0 10px grey;
}

#inppass:hover{
    transform: scale(1.1);
    border-radius: 20px;
    border: 1px solid grey;
}

#inpcpass {
    width: 230px;
    height: 40px;
    font-size: 17px;
    padding-left: 10px;
    border: 1px solid black;
    box-shadow: 0 0 10px grey;
}

#inpcpass:hover{
    transform: scale(1.1);
    border-radius: 20px;
    border: 1px solid grey;
}

#subhead{
    color: white;
    text-shadow: 5px 5px 10px grey;
    margin-bottom: 10px;
    font-size: 35px;
}
  #subtt{
    width: 230px;
    height: 35px;
    border-radius: 90px;
    font-size: 25px;
    color: rgb(240, 56, 5);
     background: linear-gradient(to left,rgb(4, 68, 244),cyan,rgb(65, 3, 236)); 
}

#subtt:hover{
    color: crimson;
    transform: scale(1.1);
} 

#signlast{
    color: white;
    text-shadow: 5px 5px 10px grey;
    margin-top: 5%;
    margin-bottom: 8px;
    font-size: 25px;
}

#singlast-anker{
    position: absolute;
    font-weight: bolder;
    color: rgb(252, 6, 55);
    text-shadow: 5px 5px 10px grey;
    margin-bottom: 8px;
    font-size: 40px;
    left: 700px;
    text-decoration: none;
}

/* submit ends here */


/* main head starts from here */

#main-head{
    width: 100%;
    height: 60px;
    border: 1px solid lightblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f365ee4;
}

#main-head ul{
    display: flex;
    gap: 70px;
    font-size: 20px;
    list-style: none;
    color: white;
}

#main-head ul li:hover{
    border-bottom: 2px solid crimson;
    color: crimson;
    cursor: pointer;
}

#main-head ul li a{
    color: white;
    text-decoration: none; 
}

#main-head ul li a:hover{
    border-bottom: 2px solid crimson;
    color: crimson;
}

#main-head h1 span{
    font-size: 45px;
   color: crimson;
   
}

#main-head h1{
    color: white;
}

#menu{
    display: none;
    position: relative;
    width: 30px;
    height: 25px;
}

#menu span{
    background-color: black;
    height: 3px;
    width: 30px;
    margin: 4px 0;
    transition: all 0.5 ease-in-out;
    position: absolute;
    left: 0;
    z-index: 5;
}

.bar1{
top: 0;
}

.bar2{
    top: 10px;
 }

.bar1{
 top: 20px;
 }

 #menu.active .bar1{
    transform: rotate(45deg);
    top: 10px;
 }

 #menu.active .bar2{
   opacity: 0;
 }

 #menu.active .bar3{
    transform: rotate(-45deg);
    top: 10px;
 }

/* header ends here */

/* main part starts from here */


/* background color */
/* 
   section2      background-color: #B9E5E8;
   section3        background-color: #7AB2D3;
   section4           background-color: #4A628A; 
   section5            background-color: #1f365ee4;

 */


/* section 1 starts from here */

#main-sec-1{
    width: 100%;
    height: 110vh;
    border: 1px solid #1f365ee4;
    background-color: #1f365ee4;
    display: flex;
}

.container{
    position: relative;
    top: 190px;
    left: 20%;
    width: 200px;
    height: 300px;
    cursor: pointer;
}
.card{
    width: 250px;
    height: 100%;
    position: absolute;
    background-image: url(planeimage/nature.jpg);
    background-size: cover;
    transition: 1s;
    border-radius: 10px;
    box-shadow: 0 10px 10px;
}
.container:hover .card{
    transform: perspective(20px) rotateX(3deg) translateY(-50px);
}

.bird{
    width: 20rem;
    height: 20rem;
    position: absolute;
    background-image: url(planeimage/swan1png.png);
    background-size: 100%;
    background-repeat: no-repeat;
    transition: 1s;
    animation: animate 0.9s linear infinite;
}

.container:hover .bird{
    transform: translateY(-200px) translateX(-10px);
}

@keyframes animate {
    from{
        background-image: url(planeimage/swan1png.png);
    }
    to{
        background-image: url(planeimage/swan\ png.png);
    }
} 





#sec5head{
    font-size: 45px;
    color: white;
    margin-left: 40%;
    margin-top: 1%;
    /* margin-top: 1%; */
    text-shadow: 5px 5px 5px rgb(73, 72, 72);

}
.Layout-container{
    width: min(1000px, 100%);
    margin: 50px auto;
    columns: 4 250px;
    position: relative;
    right: 55%;
    top: 12%;
 
}

.Layout-container img{
    width: 100%;
    height: auto;
    margin: 5%;
    margin-left: 5%;
    margin-right: 5%;
    transition: 1s;

}

.Layout-container img:hover{
    transform: perspective(70px) rotateX(5deg) translateY(-20px);
}

#sec5img1{
    position: absolute;
    color: white;
    top: 20px;
    left: 100px;
    text-shadow: 3px 3px 5px black;
    font-size: 35px;
}

#sec5img2{
    position: absolute;
    color: white;
    top: 20px;
    left: 400px;
    text-shadow: 3px 3px 5px black;
    font-size: 35px;
    z-index: 8;
}

#sec5img3{
    position: absolute;
    color: white;
    top: 20px;
    left: 650px;
    text-shadow: 3px 3px 5px black;
    font-size: 35px;
    z-index: 8;
}

#sec5img4{
    position: absolute;
    color: white;
    top: 240px;
    left: 100px;
    text-shadow: 3px 3px 5px black;
    font-size: 35px;
}

#sec5img5{
    position: absolute;
    color: white;
    top: 240px;
    left: 400px;
    text-shadow: 3px 3px 5px black;
    font-size: 35px;
}

#sec5img6{
    position: absolute;
    color: white;
    top: 450px;
    left: 400px;
    text-shadow: 3px 3px 5px black;
    font-size: 35px;
}

#sec5img7{
    position: absolute;
    color: white;
    top: 460px;
    left: 650px;
    text-shadow: 3px 3px 5px black;
    font-size: 35px;
}

#timee{
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 5%;
    right: 11%;
}

#middle{
    width: 200px;
    height: 200px;
    /* border: 2px solid black; */
    /* border-radius: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
#displays{
  color: red;
  font-size: 60px;
}


 /* section one ends here 

 section two starts from here */

 #main-sec-2{
    width: 100%;
    height: 85vh;
    margin: 0%;
    position: relative;
    background-color: #4A628A; 
} 

#sec4-head{
    font-size: 40px;
    margin-left: 39%;
    color: white;
    text-shadow: 5px 5px 5px rgb(73, 72, 72);
}


#maincenterdiv{
    width: 550px;
    height: 450px;
    border: 1px solid black;
    border-radius: 30px;
    position: relative;
    top: 6%;
    left: 9%;
    background-image: url(planeimage/child.jpeg);
    background-size: cover;
}

#childcent{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    position: absolute;
    left: 60px;
    top: 560px;
 
}

#childcent .child1{
    width: 120px;
    height: 80px;
    border: 1px solid black; 
    border-radius: 20px;
}

#childcent .child2{
    width: 120px;
    height: 80px;
    border: 1px solid black; 
    border-radius: 20px;
    
  
}

#childcent .child3{
    width: 120px;
    height: 80px;
    border: 1px solid black; 
    border-radius: 20px;
}

#childcent .child4{
    width: 120px;
    height: 80px;
    border: 1px solid black; 
    border-radius: 20px;
}

#childcent .child5{
    width: 120px;
    height: 80px;
    border: 1px solid black; 
    border-radius: 20px;
}

#childcent .child6{
    width: 120px;
    height: 80px;
    border: 1px solid black; 
    border-radius: 20px;
}

#childcent .child7{
    width: 120px;
    height: 80px;
    border: 1px solid black; 
    border-radius: 20px;
}

#childcent .child8{
    width: 120px;
    height: 80px;
    border: 1px solid black; 
    border-radius: 20px;
}

#maincenterdiv2{
    width: 550px;
    height: 450px;
    border-radius: 30px;
    position: absolute;
    top: 90px;
    right: 100px;
    overflow: hidden;

}

.swiper2{
    width: 550px;
    height: 450px;
}

 /* - section two ends here --> =============================================================================


 
    section three starts from here  */

    #main-sec-3{
        width: 100%;
        height: 110vh;
        position: relative;
        border: 1px solid black;
        background-color: #7AB2D3;
     }
    
     #centerdiv{
        flex-wrap: wrap;
        margin-top: 5%;
        position: relative;
     }
    
     .centhed{
        margin-top: 2%;
        margin-left: 40%;
        font-size: 45px;
        color: darkblue;
     }
    
    
     #centerdiv div{
        width: 200px;
        height: 200px;
        border: 1px solid black;
        border-radius: 100%;
     }
    
     #centerdiv .centerdiv1{
        background-image: url(planeimage/img1.jpeg);
        background-size: contain;
        background-size: cover;
        position: absolute;
        left: 180px;
        top: -30px;
        box-shadow: -10px 10px 20px grey;
        overflow: hidden;
     }
    
     #centerdiv .centerdiv1:hover{
        transform: scale(1.09);
     }
    
     #centerdiv .centhed1 {
        position: absolute;
        top: -20px;
        left: 650px;
        font-size: 35px;
        color: #B9E5E8;
        border-bottom: 2px solid #B9E5E8;
        text-shadow: 3px 3px 5px grey;
     }
    
    .div1-part{
        width: 1000px;
        height: 200px;
        border: 1px solid black;
        position: absolute;
        top: 127px;
        left: 280px;
        line-height: 30px;
        box-shadow: 5px 5px 10px grey;
        background-color: #1f365ee4;
    }
    
    .div1-part div{
        margin-top: 60px;
        margin-left: 120px;
        font-size: 20px;
        color: white;
        
    }
    
      #centerdiv .centerdiv2{
        background-image: url(planeimage/img2.jpeg);
        background-size: contain;
        background-size: cover;
        position: absolute;
        right: 140px;
        top: 223.5px;
        box-shadow: 10px 10px 20px grey;
        overflow: hidden;
     }
    
     #centerdiv .centerdiv2:hover{
        transform: scale(1.09);
     }
    
     #centerdiv .centhed2 {
        position: absolute;
        top: 230px;
        left: 625px;
        font-size: 35px;
        color: #B9E5E8;
        border-bottom: 2px solid #B9E5E8;
        text-shadow: 3px 3px 5px grey;
     }
    
     
    .div2-part{
        width: 1000px;
        height: 200px;
        border: 1px solid black;
        position: absolute;
        top: 380px;
        left: 280px;
        line-height: 40px;
        box-shadow: -5px 5px 10px grey;
        background-color: #1f365ee4;
    }
    
    .div2-part div{
        margin-top: 60px;
        margin-left: 40px;
        font-size: 20px;
        color: white;
        
    }
    
      #centerdiv .centerdiv3{
        background-image: url(planeimage/img3.jpeg);
        background-size: contain;
        background-size: cover;
        position: absolute;
        left: 180px;
        top: 473px;
        box-shadow: 10px 10px 20px grey;
        overflow: hidden;
     }
    
     #centerdiv .centerdiv3:hover{
        transform: scale(1.09);
     }
    
     #centerdiv .centhed3 {
        position: absolute;
        top: 480px;
        left: 615px;
        font-size: 35px;
        color: #B9E5E8;
        border-bottom: 2px solid #B9E5E8;
        text-shadow: 3px 3px 5px grey;
     }
    
     .div3-part{
        width: 1000px;
        height: 200px;
        border: 1px solid black;
        position: absolute;
        top: 630px;
        left: 280px;
        line-height: 40px;
        box-shadow: 5px 5px 10px grey;
        background-color: #1f365ee4;
    }
    
    .div3-part div{
        margin-top: 60px;
        margin-left: 120px;
        font-size: 20px;
        color: white;
    }
    

   
    /* section 3 ends here */
    
/* section 4 start here */

#main-sec-4{
    width: 100%;
    height: 105vh;
    position: relative;
    border: 1px solid black;
    /* background-color: #B9E5E8; */
    background-color: white;
 }

 #sec2head{
    font-size: 40px;
    margin-left: 38%;
    color: darkblue;
    text-shadow: 5px 5px 5px grey;
 }
 #book-div1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3%;
 }

 #book-div2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3%;


 }

 #book-div1 div{
    width: 350px;
    height: 200px;
 }

 #book-div2 div{
    width: 350px;
    height: 200px;
 }

 #book-div1 .btt1{
    width: 180px;
    height: 40px;
    position: absolute;
    top: 310px;
    font-size: 25px;
    color: crimson;
    background-color: lightcyan;
    border-radius: 30px;
    transition: transform 0.5s ease;
 }
 #book-div1 .btt1:hover{
    color: crimson;
    background-color: #7AB2D3;
    border-radius: 30px;
    transform: scale(1.1);
 }


 #book-div1 .btt2{
    width: 180px;
    height: 40px;
    position: absolute;
    top: 310px;
    font-size: 25px;
    color: crimson;
    background-color: lightcyan;
    border-radius: 30px;
    transition: transform 0.5s ease;
 }

 #book-div1 .btt2:hover{
    color: crimson;
    background-color: #7AB2D3;
    border-radius: 30px;
    transform: scale(1.1);
 }

 #book-div1 .btt3{
    width: 180px;
    height: 40px;
    position: absolute;
    top: 310px;
    font-size: 25px;
    color: crimson;
    background-color: lightcyan;
    border-radius: 30px;
    transition: transform 0.5s ease;
 }

 #book-div1 .btt3:hover{
    color: crimson;
    background-color: #7AB2D3;
    border-radius: 30px;
    transform: scale(1.1);
 }

 #book-div2 .btt4{
    width: 180px;
    height: 40px;
    position: absolute;
    top: 310px;
    font-size: 25px;
    color: crimson;
    background-color: lightcyan;
    border-radius: 30px;
    transition: transform 0.5s ease;
 }

 #book-div2 .btt4:hover{
    color: crimson;
    background-color: #7AB2D3;
    border-radius: 30px;
    transform: scale(1.1);
 }

 #book-div2 .btt5{
    width: 180px;
    height: 40px;
    position: absolute;
    top: 310px;
    font-size: 25px;
    color: crimson;
    background-color: lightcyan;
    border-radius: 30px;
    transition: transform 0.5s ease;
 }

 #book-div2 .btt5:hover{
    color: crimson;
    background-color: #7AB2D3;
    border-radius: 30px;
    transform: scale(1.1);
 }

 #book-div2 .btt6{
    width: 180px;
    height: 40px;
    position: absolute;
    top: 310px;
    font-size: 25px;
    color: crimson;
    background-color: lightcyan;
    border-radius: 30px;
    transition: transform 0.5s ease;
 }

 #book-div2 .btt6:hover{
    color: crimson;
    background-color: #7AB2D3;
    border-radius: 30px;
    transform: scale(1.1);
 }

 
.book1{
    background-image: url(planeimage/indigo.avif);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 60px;
    left: 100px;
    box-shadow: 10px 10px 20px grey;
}

.book1-topic1{
    position: absolute;
    top: 220px;
}

.book1-topic1 span{
    color: crimson;
    font-size: 30px;
}

.book2{
    background-image: url(planeimage/Vistara.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 60px;
    left: 570px;
    box-shadow: 10px 10px 20px grey;
}

.book1-topic2{
    position: absolute;
    top: 220px;
}

.book1-topic2 span{
    color: crimson;
    font-size: 30px;
}
.book3{
    background-image: url(planeimage/spicejet.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 60px;
    right: 120px;
    box-shadow: 10px 10px 20px grey;
}

.book1-topic3{
    position: absolute;
    top: 220px;
}

.book1-topic3 span{
    color: crimson;
    font-size: 30px;
}
 .book4{
    background-image: url(planeimage/oneworld.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 460px;
    left: 100px;
    box-shadow: 10px 10px 20px grey;
}

.book1-topic4{
    position: absolute;
    top: 220px;
}

.book1-topic4 span{
    color: crimson;
    font-size: 30px;
}


.book5{
    background-image: url(planeimage/express.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 460px;
    left: 570px;
    box-shadow: 10px 10px 20px grey;
}

.book1-topic5{
    position: absolute;
    top: 220px;
}

.book1-topic5 span{
    color: crimson;
    font-size: 30px;
}


.book6{
    background-image: url(planeimage/airindia.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 460px;
    right: 120px;
    box-shadow: 10px 10px 20px grey;
} 

.book1-topic6{
    position: absolute;
    top: 220px;
}

.book1-topic6 span{
    color: crimson;
    font-size: 30px;
}

#star{
    color: crimson;
}

.book1-topic1 h1{
    color: darkblue;
}
.book1-topic1 h2{
    color: darkblue;
}

.book1-topic2 h1{
    color: darkblue;
}
.book1-topic2 h2{
    color: darkblue;
}

.book1-topic3 h1{
    color: darkblue;
}
.book1-topic3 h2{
    color: darkblue;
}

.book1-topic4 h1{
    color: darkblue;
}
.book1-topic4 h2{
    color: darkblue;
}

.book1-topic5 h1{
    color: darkblue;
}
.book1-topic5 h2{
    color: darkblue;
}

.book1-topic6 h1{
    color: darkblue;
}
.book1-topic6 h2{
    color: darkblue;
}




   
/* section 4 ends here */




/* footer starts from here */

#footerr{
    width: 100%;
    height: 30vh;
    background-color: #1f365ee4;

}

#foot{
    display: flex;
    justify-content: space-around;
    align-items: center;
   font-size: 20px;
   line-height: 30px;
   padding-top: 1%;
}

#foot h2{
    color: aliceblue;
    text-shadow: 5px 5px 5px rgb(73, 72, 72);
}
#foot a{
    text-decoration: none;
    color: white;
}

.foot5{
    margin-top: 2%;
    font-size: 30px;
}







/* footer ends here */



/* bookingform */




#formbookbody{
    width: 100%;
    height: 100vh;
    z-index: 1;
    margin: 0;
    position: relative;
}

#vid{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    z-index: -1;
}

#formbookhead{
    font-size: 50px;
    position: absolute;
    color: crimson;
    left: 500px;
    top: 55px;
}

#bookhead1{
    position: absolute;
    top: 230px;
    left: 300px;
    font-size: 30px;
    color: crimson;
}
#formname{
    position: absolute;
    top: 290px;
    left: 300px;
    width: 180px;
    height: 35px;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid grey;
}

#formname:hover{
    transform: scale(1.1);
    border-radius: 20px;
    border: 1px solid grey;
}


#bookhead2{
    position: absolute;
    top: 230px;
    left: 580px;
    font-size: 30px;
    color: crimson;
}
#formage{
    position: absolute;
    top: 290px;
    left: 580px;
    width: 160px;
    height: 35px;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid grey;
}

#formage:hover{
    transform: scale(1.1);
    border-radius: 20px;
    border: 1px solid grey;
}

#bookhead3{
    position: absolute;
    top: 230px;
    left: 840px;
    font-size: 30px;
    color: crimson;

}
#formnum{
    position: absolute;
    top: 290px;
    left: 840px;
    width: 180px;
    height: 35px;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid grey;
}

#formnum:hover{
    transform: scale(1.1);
    border-radius: 20px;
    border: 1px solid grey;
}

#bookhead4{
    position: absolute;
    top: 380px;
    left: 300px;
    font-size: 35px;
    color: crimson;

}
#formplace{
    position: absolute;
    top: 440px;
    left: 300px;
    width: 180px;
    height: 35px;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid grey;
}

#formplace:hover{
    transform: scale(1.1);
    border-radius: 20px;
    border: 1px solid grey;
}

#bookhead6{
    position: absolute;
    top: 380px;
    left: 580px;
    font-size: 35px;
    color: crimson;

}
#formpeople{
    position: absolute;
    top: 440px;
    left: 580px;
    width: 160px;
    height: 35px;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid grey;
}


#formpeople:hover{
    transform: scale(1.1);
    border-radius: 20px;
    border: 1px solid grey;
}

#bookflight5{
    position: absolute;
    top: 380px;
    left: 840px;
    font-size: 35px;
    color: crimson;
}

#formflight{
    position: absolute;
    top: 440px;
    left: 840px;
    width: 180px;
    height: 35px;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid grey;
}

#formflight:hover{
    transform: scale(1.1);
    border-radius: 20px;
    border: 1px solid grey;
}

#bookhead7{
    position: absolute;
    top: 520px;
    left: 350px;
    font-size: 35px;
    color: crimson;
}

#formdate{
    position: absolute;
    top: 570px;
    left: 300px;
    width: 180px;
    height: 35px;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid grey;
}

#formdate:hover{
    transform: scale(1.1);
    border-radius: 20px;
    border: 1px solid grey;
}




#bookformsub{
    position: absolute;
    top: 570px;
    left: 580px;
    width: 200px;
    height: 40px;
    font-size: 25px;
    border-radius: 30px;
    color: white;
    background-color: darkblue;
    transition: transform 0.5s ease;

}

#bookformsub:hover{
    color: black;
    background-color: crimson;
    border-radius: 30px;
    transform: scale(1.1);
}


 /* bookingdata */

  #bookdatabody{
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient( rgb(5, 215, 187), rgb(20, 105, 155));
  }

  #searchbox{
    position: absolute;
    display: flex;
    top: 200px;
    left: 10%;
    font-size: 30px;
    /* color: black; */
    /* border-bottom: 5px double black; */
    /* color: crimson;
    border-bottom: 5px double crimson; */
    background-image: url(planeimage/img2.jpeg);
    background-size: cover;
    background-position: bottom;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

  }

  #searchbox input{
    margin-left: 80px;
    margin-top: 10px;
    width: 200px;
    height: 35px;
    font-size: 20px;
    padding-left: 10px;
    box-shadow: inset -5px -5px 10px #B9E5E8;
  }


  #bookfromheads{
    position: absolute;
    top: 50px;
    left: 25%;
    font-size: 70px;
    /* color: darkblue; */
    /* color: crimson; */
    /* color: black; */
    /* text-shadow: 5px 5px 10px grey; */
    /* border-bottom: 5px double black; */
    /* border-bottom: 5px double crimson; */
    background-image: url(planeimage/img2.jpeg);
    /* background-image: url(planeimage/aeroplane\ top.webp); */
    background-size: cover;
    background-position: bottom;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  #booktable{
    width: 1200px;
    position: absolute;
    top: 390px;
    left: 8%;
    box-shadow: 5px 5px 15px black;
  }

  #booktablehead{
    color: black;
    /* color: crimson; */
  }

.tbhead{
    width: 200px;
    height: 45px;
    font-size: 20px;
    padding-left: 10px;
}

.tbheads{
    width: 200px;
    height: 45px;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 20px;
    padding-left: 10px;
}



  #display{
    color: white;
    text-shadow: 2px 2px 2px black;
  }

  #editform{
    position: absolute;
    /* color: darkblue; */
    color: crimson;
    /* color: black; */
    top: 10px;
    right: 200px;
    font-size: 40px;
    /* border-bottom: 5px double black; */
    /* border-bottom: 5px double crimson; */
    background-image: url(planeimage/img2.jpeg);
    background-size: cover;
    background-position: bottom;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;


  }
  #formdisplay{
    position: absolute;
    right: 10px;
  }

  #pagin{
    position: absolute;
    bottom: 90px;
    left: 40%;
  }

  /* booking data edit portion */

#editname{
    position: absolute;
    right: 450px;
    top: 70px;
    color: darkblue;
    font-size: 25px;
}

#formnam{
    position: absolute;
    right: 400px;
    top: 130px;
    width: 150px;
    height: 35px;
    font-size: 20px;
    padding-left: 10px;
    box-shadow: inset -5px -5px 10px #B9E5E8;
}

#editage{
    position: absolute;
    right: 260px;
    top: 70px;
    color: darkblue;
    font-size: 25px;
}

#formag{
    position: absolute;
    right: 220px;
    top: 130px;
    width: 150px;
    height: 35px;
    font-size: 20px;
    padding-left: 10px;
    box-shadow: inset -5px -5px 10px #B9E5E8;
}

#editnum{
    position: absolute;
    right: 50px;
    top: 70px;
    color: darkblue;
    font-size: 25px;
}

#formnom{
    position: absolute;
    right: 30px;
    top: 130px;
    width: 150px;
    height: 35px;
    font-size: 20px;
    padding-left: 10px;
    box-shadow: inset -5px -5px 10px #B9E5E8; 
}

#editplace{
    position: absolute;
    right: 450px;
    top: 180px;
    color: darkblue;
    font-size: 25px;
}

#formplac{
    position: absolute;
    right: 400px;
    top: 250px;
    width: 150px;
    height: 35px;
    font-size: 20px;
    padding-left: 10px;
    box-shadow: inset -5px -5px 10px #B9E5E8;
}

#editdate{
    position: absolute;
    right: 260px;
    top: 190px;
    color: darkblue;
    font-size: 25px;
}

#formdat{
    position: absolute;
    right: 220px;
    top: 250px;
    width: 150px;
    height: 35px;
    font-size: 20px;
    padding-left: 10px;
    box-shadow: inset -5px -5px 10px #B9E5E8;
}

#editpeople{
    position: absolute;
    right: 50px;
    top: 190px;
    color: darkblue;
    font-size: 25px;
}

#formpeopl{
    position: absolute;
    right: 30px;
    top: 250px;
    width: 150px;
    height: 35px;
    font-size: 20px;
    padding-left: 10px;
    box-shadow: inset -5px -5px 10px #B9E5E8; 
}



#editsubmit{
    position: absolute;
    right: 220px;
    top: 300px;
    width: 150px;
    height: 35px;
    font-size: 20px;
    padding-left: 8px;
    box-shadow: inset -5px -5px 10px #B9E5E8;
}






































@media (min-width: 350px) and (max-width: 750px){
   
    /* sign up page */

    #sub-body{
        width: 300px;
        height: 100vh;
        position: relative;
    }

    #formbox{
    width: 400px;
    height: 780px;
   }

   #signlast{
   color: darkblue;
   }

   #singlast-anker{
    position: absolute;
    bottom: 20px;
    left: 150px;
   }

/* sign up page ends here */


/* login starts here */
#login-body{
    width: 448.4px;
    height: 99vh;
}
#logbody{
    width: 100%;
    height: 100%;
    position: relative;
}

#logcenter{
    position: absolute;
    top: 180px;
    left: 40px;
    width: 350px;
    height: 480px;
}

#logcenter a{
    color: crimson;
}
/* login ends here */
/* home page */

/* header */

#main-head{
    font-size: 15px; 
}


#menu{
    display: block;
}
#main-head nav ul{
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: aquamarine;
    top: 90px;
    left: 20px;
    width: 90%;
    border-radius: 10px;
    padding: 10px;
    z-index: 999;
}

#main-head nav ul.active{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 7.2%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding-top: 0%;
    padding-left: 0%;
    background-color: #1f365ee4;
    z-index: 1;
    line-height: 1px;
    margin: 0;
    border: none !important;
}



/* #main-head nav ul:hover.active{
    border-bottom: none;
} */

/* header ends here */

/* section 1 */

#main-sec-1{
    width: 100%;
    height: 150vh;
    position: relative;
}

#sec5head{
    font-size: 35px;
    margin-left: 8%;
    margin-top: 5%;
}

#timee{
    position: absolute;
    top: 0%;
    left: 0%;
}

#displays{
    font-size: 40px;
}

.container{
    position: absolute;
    width: 200px;
    height: 200px;

}

.Layout-container{
    width: 400px;
    position: absolute;
    left: 3%;
    top: 32%;
}

.Layout-container img{
    width: 150px;
    height: 200px;
}

#sec5img1{
    position: absolute;
    font-size: 20px;
    left: 12%;
    top: 5%;
}

#sec5img2{
    position: absolute;
    font-size: 20px;
    left: 12%;
    top: 39%;
}

#sec5img3{
    position: absolute;
    font-size: 20px;
    left: 60%;
    top: 72%;
}

#sec5img4{
    position: absolute;
    font-size: 20px;
    left: 62%;
    top: 5%;
}

#sec5img5{
    position: absolute;
    font-size: 20px;
    left: 62%;
    top: 39%;
}

#sec5img6{
    position: absolute;
    font-size: 20px;
    left: 12%;
    top: 72%;
}


.last7img{
    display: none;
}
#sec5img7{
    display: none;
}

/* section 1 ends here */

/* section 2 */


#main-sec-2{
    width: 100%;
    height: 135vh;
    position: relative;
}

#sec4-head{
    font-size: 40px;
    margin-left: 30%;
    padding-top: 2%;
}

#maincenterdiv{
    position: absolute;
}


.child1{
    margin-top: 10%;
}


.child2{
    margin-top: 10%;
}


.child3{
    margin-top: 10%;
}


.child4{
    position: absolute;
    top: 550px;
    left: 17px;
}


.child5{
    position: absolute;
    top: 550px;
    left: 150px;
}


.child6{
    position: absolute;
    top: 550px;
    left: 280px;
}


.child7{
    display: none;
}


.child8{
    display: none;
}



#maincenterdiv2{
    position: absolute;
    top: 700px;
    left: 30px;
    height: 350px;
    width: 350px;
}

.swiper-slide img{
    height: 350px;
    width: 350px;
}

#maincenterdiv{
    width: 350px;
    height: 350px;
   
}

#childcent{
    position: absolute;
    top: 10px;
    left: 1px;
    gap: 10px;
}
#childcent .child1{
  position: absolute;
  left: 20px;
  top: 450px;
}

#childcent .child2{
    position: absolute;
    left: 150px;
    top: 450px;
  }

  #childcent .child3{
    position: absolute;
    top: 450px;
    left: 280px;
  }




/* section 2 ends here */

/* section 3 starts here */

#main-sec-3{
    width: 100%;
    height: 160vh;
}

.centhed{
font-size: 35px;
margin-left: 12%;
}

#centerdiv div{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    position: relative;
}

#centerdiv .centerdiv1{
    position: absolute;
    top: 0px;
    left: 30px;
}

#centerdiv .centhed1 {
  position: absolute;
  display: inline-flex;
  top: 50px;
  left: 250px;
  color: crimson;
  border-bottom: none;
}

.div1-part{
    width: 400px;
    height: 150px;
    position: absolute;
    left: 10px;
    margin-top: 40%;
}

.div1-part div{
    font-size: 15px;
    margin-top: 1%;
    margin-left: 2%;
}


.centerdiv2{
    margin-top: 50%;
    position: absolute;
    left: 30px;
}


#centerdiv .centhed2 {
    position: absolute;
    display: inline-flex;
    top: 460px;
    left: 250px;
    color: crimson;
    border-bottom: none;
  }



.div2-part{
    width: 400px;
    height: 150px;
    position: absolute;
    left: 10px;
    margin-top: 80%;
}

.div2-part div{
    line-height: 30px;
    font-size: 15px;
    margin-top: 1%;
    margin-left: 2%;
}


#centerdiv .centerdiv3{
    position: absolute;
    display: inline-flex;
    margin-top: 350px;
    left: 25px;
}

#centerdiv .centhed3 {
    position: absolute;
    display: inline-flex;
    top: 865px;
    left: 250px;
    color: crimson;
    border-bottom: none;
  }

.div3-part{
    width: 400px;
    height: 150px;
    position: absolute;
    left: 10px;
    margin-top: 110%;
}

.div3-part div{
    line-height: 30px;
    font-size: 15px;
    margin-top: 1%;
    margin-left: 2%;
}





/* section 3 ends here */

/* section 4 starts from here */

#main-sec-4{
    width: 100%;
    height: 295vh;
}

#sec2head{
    padding-top: 5%;
    font-size: 35px;
    margin-left: 17%;
}

#book-div1{
    position: relative;
}

.book1{
    position: absolute;
    left: 30px;
    top: 20px;
}

.book2{
    position: absolute;
    left: 30px;
    top: 410px;
}


.book3{
    position: absolute;
    left: 30px;
    top: 800px;
}


#book-div2{
    position: relative;
}


.book4{
    position: absolute;
    left: 30px;
    top: 1180px;
}


.book5{
    position: absolute;
    left: 30px;
    top: 1570px;
}

.book6{
    position: absolute;
    left: 30px;
    top: 1970px;
}



/* section 4 ends here */

/* footer starts here */

#footerr{
    width: 100%;
    height: 50vh;
    position: relative;
}


.foot1{
    margin-left: 2%;
    font-size: 15px;
    /* line-height: 20px; */
}


.foot2{
    margin-left: 3%;
    /* margin-top: 0%; */
    font-size: 15px;
}

.foot3{
    margin-left: 3%;
    /* margin-top: 0%; */
    font-size: 15px;
}


.foot4{
    margin-left: 0%;
    margin-right: 2%;
    /* margin-top: 0%; */
    font-size: 15px;
}



.foot5{
    position: absolute;
    bottom: 30px;
    left: 70px;
    font-size: 25px;
    line-height: 20px;
}

/* footer ends here */


/* booking form data */

#formbookbody{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(planeimage/nature.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#formbookhead{
    position: absolute;
    left: 55px;
    font-size: 45px;
 
}

#vid{
   display: none;
}


#bookhead1{
    position: absolute;
    top: 170px;
    left: 50px;
}

#formname{
    position: absolute;
    top: 170px;
    left: 260px;
    width: 150px;
}

#bookhead2{
    position: absolute;
    top: 250px;
    left: 50px;
}

#formage{
    position: absolute;
    top: 250px;
    left: 260px;
    width: 150px;
}

#bookhead3{
    position: absolute;
    top: 320px;
    left: 50px;
}

#formnum{
    position: absolute;
    top: 320px;
    left: 260px;
    width: 150px;
}

#bookhead4{
    position: absolute;
    top: 390px;
    left: 50px;
}

#formplace{
    position: absolute;
    top: 390px;
    left: 260px;
    width: 150px;
}

#bookflight5{
    position: absolute;
    top: 460px;
    left: 50px;
}

#formflight{
    position: absolute;
    top: 460px;
    left: 260px;
    width: 150px;
}

#bookhead6{
    position: absolute;
    top: 530px;
    left: 50px;
}

#formpeople{
    position: absolute;
    top: 530px;
    left: 260px;
    width: 150px;
}

#bookhead7{
    position: absolute;
    top: 600px;
    left: 50px; 
}

#formdate{
    position: absolute;
    top: 600px;
    left: 260px;
    width: 150px;
}

#bookformsub{
    position: absolute;
    top: 690px;
    left: 120px; 
}




/* booking form data ends here */


/* booking editing starts here */

#bookdatabody{
    width: 100%;
    height: 200vh;
    position: relative;
}

#bookfromheads{
    position: absolute;
    top: 25px;
    left: 50px;
    font-size: 50px;
}

#searchbox{
    position: absolute;
    display: inline;
    top: 130px;
    left: 20px;
    font-size: 20px;
}

#searchinp{
    position: absolute;
    top: 0px;
    left: 180px;
}

#searchbox input{
    width: 150px;
    height: 35px;
}



#editform{
 position: absolute;
 top: 220px;
}

#editname{
    position: absolute;
    top: 300px;
    right: 70%;
    left: 20px;
}




#booktable{
    position: absolute;
    top: 700px;
}





























/* booking editing ends here  */




















}
