*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

/* login page css starts */

#logbody{ 
width: 100%;
height: 100vh;
} 

#logimage{
    width: 150px;
    height: 150px;
    background-image: url(planeimage/logimg.png);
    background-size: cover;
    position: relative;
    top: 2%;
    left: 2%;
    animation: log-anime 30s linear infinite;
}

@keyframes log-anime{
    0%{
        left:10px; top:10px
    }

    25%{
        left:1350px; top:10px
    }
    50%{
    left:1350px; top: 670px;
    }
    75%{
         left: 10px; top: 670px;    
    }
    100%{
        left: 10px; top: 10px;
    }
}

#logcenter{
    width: 500px;
    height: 500px;
    border: 1px solid gery;
     position: absolute; 
     top: 18%;
    left: 32%; 
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 60px;
    /* background-color: rgba(83, 244, 244, 0.341); */
    box-shadow: 0 0 10px grey,0 0 15px grey,0 0 20px grey;
    border-radius: 10px;
  
}



#logcenter a{
    text-decoration: none;
    color: darkblue;
}

#loginname {
    width: 230px;
    height: 40px;
    font-size: 17px;
    padding-left: 15px;
    border: 1px solid black;
    box-shadow: 0 0 10px grey;
}

#loginname:hover{
    transform: scale(1.1);
    border-radius: 20px;
    border: 1px solid grey;
}


#loginpass{
    width: 230px;
    height: 40px;
    font-size: 17px;
    padding-left: 15px;
    border: 1px solid black;
    box-shadow: 0 0 10px grey;

}

#loginpass:hover{
    transform: scale(1.1);
    border-radius: 90px;
    border: 1px solid grey;
}


#loghead{
    font-size: 40px;
    color: darkblue;
}

#logbtt{
    width: 230px;
    height: 35px;
    border-radius: 90px;
    font-size: 25px;
    color: rgb(240, 56, 5);
    background: linear-gradient(to left,rgb(4, 68, 244),cyan,rgb(65, 3, 236));
}

#logbtt:hover{
    color: crimson;
    background: linear-gradient(to right,cyan,darkblue,cyan);
    transform: scale(1.1);
}


/* login page css ends */

/* submit starts here */


#animation-sign{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    position: absolute;
    top: 20%;
    left: 8%;
    border-radius: 90px;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: sign-anime 20s linear infinite;
}

@keyframes sign-anime{
   0%{
   background-image: url(planeimage/child1.jpeg);
   background-size: cover;
}
25%{
    background-image: url(planeimage/child2.jpeg);
    background-size: cover;
}
50%{
    background-image: url(planeimage/child3.jpeg);
    background-size: cover;
}
75%{
    background-image: url(planeimage/img2.jpeg);
    background-size: cover;
}
100%{
    background-image: url(planeimage/img3.jpeg);
    background-size: cover;
}
}

#sign-1div{
    position: absolute;
    top: 2%;
    left: 13%;
    color: darkblue;
    font-size: 20px;
}


#formbox{
    width: 500px;
    height: 700px;
    border: 1px solid black;
    position: absolute;
    right: 20%;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    /* background-color: rgba(75, 247, 247, 0.911); */
    box-shadow: 0 0 10px grey,0 0 15px grey,0 0 20px grey;
    border-radius: 10px;
}

#subhead{
    font-size: 35px;
    color: darkblue;
}

#inpname {
    width: 230px;
    height: 40px;
    font-size: 17px;
    padding-left: 10px;
    border: 1px solid black;
    box-shadow: 0 0 10px grey;
}

#inpname:hover{
    transform: scale(1.1);
    border-radius: 20px;
    border: 1px solid grey;
}

#inpnum {
    width: 230px;
    height: 40px;
    font-size: 17px;
    padding-left: 10px;
    border: 1px solid black;
    box-shadow: 0 0 10px grey;
}

#inpnum:hover{
    transform: scale(1.1);
    border-radius: 20px;
    border: 1px solid grey;
}

#inpemail {
    width: 230px;
    height: 40px;
    font-size: 17px;
    padding-left: 10px;
    border: 1px solid black;
    box-shadow: 0 0 10px grey;
}

#inpemail:hover{
    transform: scale(1.1);
    border-radius: 20px;
    border: 1px solid grey;
}

#inppass {
    width: 230px;
    height: 40px;
    font-size: 17px;
    padding-left: 10px;
    border: 1px solid black;
    box-shadow: 0 0 10px grey;
}

#inppass:hover{
    transform: scale(1.1);
    border-radius: 20px;
    border: 1px solid grey;
}

#inpcpass {
    width: 230px;
    height: 40px;
    font-size: 17px;
    padding-left: 10px;
    border: 1px solid black;
    box-shadow: 0 0 10px grey;
}

#inpcpass:hover{
    transform: scale(1.1);
    border-radius: 20px;
    border: 1px solid grey;
}

#subtt{
    width: 230px;
    height: 35px;
    border-radius: 90px;
    font-size: 25px;
    color: rgb(240, 56, 5);
    background: linear-gradient(to left,rgb(4, 68, 244),cyan,rgb(65, 3, 236));
}

#subtt:hover{
    color: crimson;
    background: linear-gradient(to right,cyan,darkblue,cyan);
    transform: scale(1.1);
}

/* submit ends here */

#divcont{
    width: 100%;
    height: 100vh;
}

/* main head starts from here */

#main-head{
    width: 100%;
    height: 60px;
    border: 1px solid lightblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #DFF2EB;
}

#main-head ul{
    display: flex;
    gap: 70px;
    font-size: 20px;
    list-style: none;
    color: darkblue;
}

#main-head ul li:hover{
    border-bottom: 2px solid crimson;
    color: crimson;
    cursor: pointer;
}

#main-head ul li a{
    color: darkblue;
    text-decoration: none; 
}

#main-head ul li a:hover{
    border-bottom: 2px solid crimson;
    color: crimson;
}

#main-head h1 span{
    font-size: 45px;
   color: crimson;
   
}

#main-head h1{
    color: darkblue;
}

#menu{
    display: none;
    position: relative;
    width: 30px;
    height: 25px;
}

#menu span{
    background-color: black;
    height: 3px;
    width: 30px;
    margin: 4px 0;
    transition: all 0.5 ease-in-out;
    position: absolute;
    left: 0;
    z-index: 5;
}

.bar1{
top: 0;
}

.bar2{
    top: 10px;
 }

.bar1{
 top: 20px;
 }

 #menu.active .bar1{
    transform: rotate(45deg);
    top: 10px;
 }

 #menu.active .bar2{
   opacity: 0;
 }

 #menu.active .bar3{
    transform: rotate(-45deg);
    top: 10px;
 }

/* header ends here */

/* main part starts from here */
/* section 1 starts from here */

#main-sec-1{
    width: 100%;
    height: 90vh;
    background-color: #DFF2EB;
}

 .swiper-slide{
    width: 100%;
    height: 60vh;
    position: relative;
 }

#marqdown{
    margin-top: 1%;
}
#marqdown img{
    border-radius: 20px;
}



 /* section one ends here 

 section two starts from here */

 #main-sec-2{
    width: 100%;
    height: 100vh;
    position: relative;
    border: 1px solid black;
    background-color: #B9E5E8;
 }

 #sec2-img1{
    position: absolute;
    left: 430px;
    top: 10px;
    width: 150px;
    height: 150px;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: img1sec2 10s ease infinite;
 }

 @keyframes img1sec2{
    0%{
        left: 430px; top: 10px;
    }

    25%{
        top: 350px;
    }
    50%{
        top: 685px;
    }
    75%{
        top: 250px;
    }
    100%{
        left: 430px; top: 10px;
    }
 }

 #sec2-img2{
    position: absolute;
    right: 430px;
    top: 10px;
    width: 150px;
    height: 150px;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: img2sec2 10s ease infinite;
 }

 @keyframes img2sec2{
    0%{
        right: 430px; top: 10px;
    }

    25%{
        top: 350px;
    }
    50%{
        top: 685px;
    }
    75%{
        top: 250px;
    }
    100%{
        right: 430px; top: 10px;
    }
 }

 #sec2head{
    font-size: 40px;
    margin-left: 38%;
    color: darkblue;
    text-shadow: 5px 5px 5px grey;
 }
 #book-div1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3%;
 }

 #book-div2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3%;


 }

 #book-div1 div{
    width: 300px;
    height: 182px;
 
 }

 #book-div2 div{
    width: 300px;
    height: 182px;
 }

 #book-div1 .btt1{
    width: 180px;
    height: 40px;
    position: absolute;
    top: 300px;
    font-size: 25px;
    color: crimson;
    background-color: lightcyan;
    border-radius: 30px;
    transition: transform 0.5s ease;
 }
 #book-div1 .btt1:hover{
    color: crimson;
    background-color: #B9E5E8;
    border-radius: 30px;
    transform: scale(1.1);
 }


 #book-div1 .btt2{
    width: 180px;
    height: 40px;
    position: absolute;
    top: 300px;
    font-size: 25px;
    color: crimson;
    background-color: lightcyan;
    border-radius: 30px;
    transition: transform 0.5s ease;
 }

 #book-div1 .btt2:hover{
    color: crimson;
    background-color: #B9E5E8;
    border-radius: 30px;
    transform: scale(1.1);
 }

 #book-div1 .btt3{
    width: 180px;
    height: 40px;
    position: absolute;
    top: 300px;
    font-size: 25px;
    color: crimson;
    background-color: lightcyan;
    border-radius: 30px;
    transition: transform 0.5s ease;
 }

 #book-div1 .btt3:hover{
    color: crimson;
    background-color: #B9E5E8;
    border-radius: 30px;
    transform: scale(1.1);
 }

 #book-div2 .btt4{
    width: 180px;
    height: 40px;
    position: absolute;
    top: 300px;
    font-size: 25px;
    color: crimson;
    background-color: lightcyan;
    border-radius: 30px;
    transition: transform 0.5s ease;
 }

 #book-div2 .btt4:hover{
    color: crimson;
    background-color: #B9E5E8; 
    border-radius: 30px;
    transform: scale(1.1);
 }

 #book-div2 .btt5{
    width: 180px;
    height: 40px;
    position: absolute;
    top: 300px;
    font-size: 25px;
    color: crimson;
    background-color: lightcyan;
    border-radius: 30px;
    transition: transform 0.5s ease;
 }

 #book-div2 .btt5:hover{
    color: crimson;
    background-color: #B9E5E8;
    border-radius: 30px;
    transform: scale(1.1);
 }

 #book-div2 .btt6{
    width: 180px;
    height: 40px;
    position: absolute;
    top: 300px;
    font-size: 25px;
    color: crimson;
    background-color: lightcyan;
    border-radius: 30px;
    transition: transform 0.5s ease;
 }

 #book-div2 .btt6:hover{
    color: crimson;
    background-color: #B9E5E8;
    border-radius: 30px;
    transform: scale(1.1);
 }

 
.book1{
    background-image: url(planeimage/indigo.avif);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 60px;
    left: 100px;
    box-shadow: 10px 10px 20px grey;
}

.book1-topic1{
    position: absolute;
    top: 200px;
}

.book1-topic1 span{
    color: crimson;
    font-size: 30px;
}

.book2{
    background-image: url(planeimage/Vistara.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 60px;
    left: 600px;
    box-shadow: 10px 10px 20px grey;
}

.book1-topic2{
    position: absolute;
    top: 200px;
}

.book1-topic2 span{
    color: crimson;
    font-size: 30px;
}
.book3{
    background-image: url(planeimage/spicejet.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 60px;
    right: 120px;
    box-shadow: 10px 10px 20px grey;
}

.book1-topic3{
    position: absolute;
    top: 200px;
}

.book1-topic3 span{
    color: crimson;
    font-size: 30px;
}
 .book4{
    background-image: url(planeimage/oneworld.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 460px;
    left: 100px;
    box-shadow: 10px 10px 20px grey;
}

.book1-topic4{
    position: absolute;
    top: 200px;
}

.book1-topic4 span{
    color: crimson;
    font-size: 30px;
}


.book5{
    background-image: url(planeimage/express.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 460px;
    left: 600px;
    box-shadow: 10px 10px 20px grey;
}

.book1-topic5{
    position: absolute;
    top: 200px;
}

.book1-topic5 span{
    color: crimson;
    font-size: 30px;
}


.book6{
    background-image: url(planeimage/airindia.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 460px;
    right: 120px;
    box-shadow: 10px 10px 20px grey;
} 

.book1-topic6{
    position: absolute;
    top: 200px;
}

.book1-topic6 span{
    color: crimson;
    font-size: 30px;
}

#star{
    color: crimson;
}

.book1-topic1 h1{
    color: darkblue;
}
.book1-topic1 h2{
    color: darkblue;
}

.book1-topic2 h1{
    color: darkblue;
}
.book1-topic2 h2{
    color: darkblue;
}

.book1-topic3 h1{
    color: darkblue;
}
.book1-topic3 h2{
    color: darkblue;
}

.book1-topic4 h1{
    color: darkblue;
}
.book1-topic4 h2{
    color: darkblue;
}

.book1-topic5 h1{
    color: darkblue;
}
.book1-topic5 h2{
    color: darkblue;
}

.book1-topic6 h1{
    color: darkblue;
}
.book1-topic6 h2{
    color: darkblue;
}

 /* - section two ends here -->

 <!-- section three starts from here  */

 #main-sec-3{
    width: 100%;
    height: 105vh;
    position: relative;
    border: 1px solid black;
    background-color: #7AB2D3;
 }

 #centerdiv{
    flex-wrap: wrap;
    margin-top: 5%;
    position: relative;
 }

 .centhed{
    margin-top: 2%;
    margin-left: 40%;
    font-size: 45px;
    color: darkblue;
 }


 #centerdiv div{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 100%;
 }

 #centerdiv .centerdiv1{
    background-image: url(planeimage/img1.jpeg);
    background-size: contain;
    background-size: cover;
    position: absolute;
    left: 180px;
    top: -30px;
    box-shadow: -10px 10px 20px grey;
    overflow: hidden;
 }

 #centerdiv .centerdiv1:hover{
    transform: scale(1.09);
 }

 #centerdiv .centhed1 {
    position: absolute;
    top: -20px;
    left: 650px;
    font-size: 35px;
    color: #B9E5E8;
    border-bottom: 2px solid #B9E5E8;
    text-shadow: 3px 3px 5px grey;
 }

.div1-part{
    width: 1000px;
    height: 200px;
    border: 1px solid black;
    position: absolute;
    top: 127px;
    left: 280px;
    line-height: 30px;
    box-shadow: 5px 5px 10px grey;
    background-color: #1f365ee4;
}

.div1-part div{
    margin-top: 60px;
    margin-left: 120px;
    font-size: 20px;
    color: white;
    
}

  #centerdiv .centerdiv2{
    background-image: url(planeimage/img2.jpeg);
    background-size: contain;
    background-size: cover;
    position: absolute;
    right: 140px;
    top: 223.5px;
    box-shadow: 10px 10px 20px grey;
    overflow: hidden;
 }

 #centerdiv .centerdiv2:hover{
    transform: scale(1.09);
 }

 #centerdiv .centhed2 {
    position: absolute;
    top: 230px;
    left: 625px;
    font-size: 35px;
    color: #B9E5E8;
    border-bottom: 2px solid #B9E5E8;
    text-shadow: 3px 3px 5px grey;
 }

 
.div2-part{
    width: 1000px;
    height: 200px;
    border: 1px solid black;
    position: absolute;
    top: 380px;
    left: 280px;
    line-height: 40px;
    box-shadow: -5px 5px 10px grey;
    background-color: #1f365ee4;
}

.div2-part div{
    margin-top: 60px;
    margin-left: 40px;
    font-size: 20px;
    color: white;
    
}

  #centerdiv .centerdiv3{
    background-image: url(planeimage/img3.jpeg);
    background-size: contain;
    background-size: cover;
    position: absolute;
    left: 180px;
    top: 473px;
    box-shadow: 10px 10px 20px grey;
    overflow: hidden;
 }

 #centerdiv .centerdiv3:hover{
    transform: scale(1.09);
 }

 #centerdiv .centhed3 {
    position: absolute;
    top: 480px;
    left: 615px;
    font-size: 35px;
    color: #B9E5E8;
    border-bottom: 2px solid #B9E5E8;
    text-shadow: 3px 3px 5px grey;
 }

 .div3-part{
    width: 1000px;
    height: 200px;
    border: 1px solid black;
    position: absolute;
    top: 630px;
    left: 280px;
    line-height: 40px;
    box-shadow: 5px 5px 10px grey;
    background-color: #1f365ee4;
}

.div3-part div{
    margin-top: 60px;
    margin-left: 120px;
    font-size: 20px;
    color: white;
}


  /* section three ends here
 
    section four starts from here  */
    
#main-sec-4{
    width: 100%;
    height: 80vh;
    margin: 0%;
    position: relative;
    background-color: #4A628A;
} 

#sec4-head{
    font-size: 40px;
    margin-left: 39%;
    color: white;
    text-shadow: 5px 5px 5px rgb(73, 72, 72);
}


#maincenterdiv{
    width: 550px;
    height: 450px;
    border: 1px solid black;
    border-radius: 30px;
    position: relative;
    top: 6%;
    left: 9%;
    background-image: url(planeimage/child.jpeg);
    background-size: cover;
}

#childcent{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    position: absolute;
    left: 60px;
    top: 560px;
 
}

#childcent .child1{
    width: 120px;
    height: 80px;
    border: 1px solid black; 
    border-radius: 20px;
}

#childcent .child2{
    width: 120px;
    height: 80px;
    border: 1px solid black; 
    border-radius: 20px;
    
  
}

#childcent .child3{
    width: 120px;
    height: 80px;
    border: 1px solid black; 
    border-radius: 20px;
}

#childcent .child4{
    width: 120px;
    height: 80px;
    border: 1px solid black; 
    border-radius: 20px;
}

#childcent .child5{
    width: 120px;
    height: 80px;
    border: 1px solid black; 
    border-radius: 20px;
}

#childcent .child6{
    width: 120px;
    height: 80px;
    border: 1px solid black; 
    border-radius: 20px;
}

#childcent .child7{
    width: 120px;
    height: 80px;
    border: 1px solid black; 
    border-radius: 20px;
}

#childcent .child8{
    width: 120px;
    height: 80px;
    border: 1px solid black; 
    border-radius: 20px;
}

#maincenterdiv2{
    width: 550px;
    height: 450px;
    border-radius: 30px;
    position: absolute;
    top: 90px;
    right: 100px;
    overflow: hidden;

}

.swiper2{
    width: 550px;
    height: 450px;
}

/* section 4 ends here */

/* section 5 starts from here */

#main-sec-5{
    width: 100%;
    height: 110vh;
    border: 1px solid #1f365ee4;
    background-color: #1f365ee4;
}

#sec5head{
    font-size: 45px;
    color: white;
    margin-left: 40%;
    margin-top: 1%;
    text-shadow: 5px 5px 5px rgb(73, 72, 72);

}
.Layout-container{
    width: min(1000px, 100%);
    margin: 30px auto;
    columns: 4 250px;
    position: relative;
 
}

.Layout-container img{
    width: 100%;
    height: auto;
    margin: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

#sec5img1{
    position: absolute;
    color: white;
    top: 20px;
    left: 120px;
    text-shadow: 3px 3px 5px black;
    font-size: 35px;
}

#sec5img2{
    position: absolute;
    color: white;
    top: 20px;
    left: 450px;
    text-shadow: 3px 3px 5px black;
    font-size: 35px;
}

#sec5img3{
    position: absolute;
    color: white;
    top: 20px;
    right: 90px;
    text-shadow: 3px 3px 5px black;
    font-size: 35px;
}

#sec5img4{
    position: absolute;
    color: white;
    top: 270px;
    left: 120px;
    text-shadow: 3px 3px 5px black;
    font-size: 35px;
}

#sec5img5{
    position: absolute;
    color: white;
    top: 270px;
    left: 450px;
    text-shadow: 3px 3px 5px black;
    font-size: 35px;
}

#sec5img6{
    position: absolute;
    color: white;
    top: 530px;
    left: 450px;
    text-shadow: 3px 3px 5px black;
    font-size: 35px;
}

#sec5img7{
    position: absolute;
    color: white;
    top: 530px;
    right: 100px;
    text-shadow: 3px 3px 5px black;
    font-size: 35px;
}


/* section 5 ends here */


/* footer starts from here */

#footerr{
    width: 100%;
    height: 30vh;
    background-color: #1f365ee4;

}

#foot{
    display: flex;
    justify-content: space-around;
    align-items: center;
   font-size: 20px;
   line-height: 30px;
}

#foot h2{
    color: aliceblue;
    text-shadow: 5px 5px 5px rgb(73, 72, 72);
}
#foot a{
    text-decoration: none;
    color: white;
}

.foot5{
    margin-top: 2%;
    font-size: 30px;
}







/* footer ends here */



/* bookingform */

#formbookbody{
    width: 100%;
    height: 100vh;
}

#bookform{
  width: 600px;
  height: 750px;  
  /* border: 1px solid black; */
  background-color: rgba(170, 216, 247, 0.37);
  position: relative;
  top: 65px;
  left: 33%;
  line-height: 30px;
  padding-top: 40px;
}

#formbookhead{
    font-size: 50px;
    position: absolute;
    color: crimson;
    left: 600px;
    top: 8px;
}

#bookform input{
    width: 160px;
    height: 35px;
    font-size: 20px;
}

#formplace{
    width: 160px;
    height: 35px; 
    font-size: 20px;
 
}

#bookhead{
    font-size: 30px;
    color: darkblue;
    margin-bottom: 10px;
}
/* 
#bookformsub{
    
    color: crimson;
    background-color: rgba(170, 216, 247, 0.37);
 } */
 #bookformsub{
    width: 250px;
    height: 50px;
    position: absolute;
    border: 1px solid black;
    left: 220px;
    bottom: 50px;
    font-size: 45px;
    color: crimson;
    background: linear-gradient(to right,cyan,cyan);
    border-radius: 30px;
 }

 #bookformsub:hover{
    transform: scale(1.1);
    overflow: hidden;
    border: 1px solid black;

 }



 /* bookingdata */

  #bookdatabody{
    width: 100%;
    height: 100vh;
    position: relative;
    /* background-color:  #4A628A; */
    /* background-color: #1f365ee4; */
    /* background-color: #01d286; */
    /* background-color: #B9E5E8; */
    /* background-color: #DFF2EB; */
    background: linear-gradient( rgb(5, 215, 187), rgb(20, 105, 155), rgba(5, 215, 187));
  }

  #searchbox{
    position: absolute;
    display: flex;
    top: 40px;
    left: 10%;
    font-size: 30px;
    color: black;
    border-bottom: 5px double black;

  }

  #searchbox input{
    margin-left: 80px;
    margin-top: 10px;
    width: 200px;
    height: 35px;
    font-size: 20px;
    padding-left: 10px;
    box-shadow: inset -5px -5px 10px #B9E5E8;
  }


  #bookfromheads{
    position: absolute;
    top: 230px;
    left: 38%;
    font-size: 45px;
    color: darkblue;
    text-shadow: 5px 5px 10px grey;
    border-bottom: 5px double black;
  }

  #booktable{
    width: 1200px;
    position: absolute;
    top: 350px;
    left: 10%;
    box-shadow: -10px 10px 20px grey;
  }

  #booktablehead{
    color: black;
  }

.tbhead{
    width: 200px;
    height: 45px;
    font-size: 20px;
    padding-left: 10px;
}

.tbheads{
    width: 200px;
    height: 45px;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 20px;
    padding-left: 10px;
}



  #display{
    color: white;
    text-shadow: 2px 2px 2px black;
  }

  #editform{
    position: absolute;
    color: black;
    top: 15px;
    right: 150px;
    font-size: 35px;
    border-bottom: 5px double black;


  }
  #formdisplay{
    position: absolute;
    right: 10px;
  }

  #pagin{
    position: absolute;
    bottom: 90px;
    left: 40%;
  }



















@media (min-width: 350px) and (max-width: 750px){
    #logimage{
        display: none;
    }

    #logcenter{
        width: 300px;
        height: 500px;
        font-size: 15px;
        position: absolute;
        left: 80px;
    }
    #logcenter h1{
        font-size: 30px;
    }

    /* sign up page */

#animation-sign{
    display: none;
}

#sign-1div{
    font-size: 15px;
    line-height: 15px;
}

#formbox{
    width: 350px;
    position: absolute;
    left: 40px;
    top: 120px;
}


/* home page */

#main-head{
    font-size: 15px; 
}

#main-head nav ul{
    display: none;
}

#menu{
    display: block;
}
ul{
    display: none;
    flex-direction: column;
    background-color: aquamarine;
    /* position: fixed; */
    top: 90px;
    right: 20px;
    width: 90%;
    border-radius: 10px;
    padding: 10px;
}

ul.active{
    display: flex;
    background-color: black;
}
/* section 1 */
#main-sec-1{
    width: 100%;
    height: 80vh;
}

#marqdown img{
    width: 80px;
    height: 80px;
}

/* section 2 */


#main-sec-2{
    width: 100%;
    height: 205vh;
}

#sec2head{
   margin-left: 15%;
}

#book-div1 div{
    width: 250px;
    height: 250px;
    margin-left: 17px;
    margin: 2%;
    position: relative;
}

#book-div2 div{
    width: 250px;
    height: 250px;
    margin-left: 17px;
    margin: 2%;
    position: relative;
}


#book-div1 .btt1{
    width: 100px;
    height: 50px;
    font-size: 20px;
    position: absolute;
    left: 80px;
    bottom: 15px;
    border-radius: 20px;
}

#book-div1 .btt2{
    width: 100px;
    height: 50px;
    font-size: 20px;
    position: absolute;
    left: 80px;
    bottom: 15px;
    border-radius: 20px;
}

#book-div1 .btt3{
    width: 100px;
    height: 50px;
    font-size: 20px;
    position: absolute;
    left: 80px;
    bottom: 15px;
    border-radius: 20px;
}

#book-div2 .btt4{
    width: 100px;
    height: 50px;
    font-size: 20px;
    position: absolute;
    left: 80px;
    bottom: 15px;
    border-radius: 20px;
}

#book-div2 .btt5{
    width: 100px;
    height: 50px;
    font-size: 20px;
    position: absolute;
    left: 80px;
    bottom: 15px;
    border-radius: 20px;
}

#book-div2 .btt6{
    width: 100px;
    height: 50px;
    font-size: 20px;
    position: absolute;
    left: 80px;
    bottom: 15px;
    border-radius: 20px;
}
/* section 2 ends here */

/* section 3 starts here */

#main-sec-3{
    width: 100%;
    height: 110vh;
}
.centhed{
    margin-top: 3%;
    margin-left: 12%;
}

#centerdiv div{
    position: relative;
    width: 250px;
    height: 250px;
    margin: 10px;
}

#centerdiv .centhed1{
    position: absolute;
    top: 200px;
}

#centerdiv .centhed2{
    position: absolute;
    top: 470px;
}


#centerdiv .centhed3{
    position: absolute;
    top: 710px;
    left: 100px;
}

/* section 3 ends here */

/* section 4 starts from here */

#main-sec-4{
    width: 100%;
    height: 150vh;
    position: relative;
}

#maincenterdiv{
    width: 350px;
    height: 350px;
   
}

#childcent{
    position: absolute;
    top: 10px;
    left: 1px;
    gap: 10px;
}
#childcent .child1{
  position: absolute;
  left: 20px;
  top: 450px;
}

#childcent .child2{
    position: absolute;
    left: 150px;
    top: 450px;
  }

  #childcent .child3{
    position: absolute;
    top: 450px;
    left: 280px;
  }











}
